
h5{
    font-weight: 700 !important;
    font-size: 13px !important;
    letter-spacing: 1px !important;
}
h2{
    font-weight: 700 !important;
}
h5 span{
    color: #3d2070 !important;
}
h5{
    color: #7a758d !important;
}
 i{
    background-color: #9078d0;
    color: #fff !important;
    padding: 10px;
    border-radius: 5px;
}