<div class="container">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-10 d-flex align-items-center justify-content-evenly my-5">
            <div class="col-md-3  p-1 shadow">
                <div class="box-content d-flex align-items-center justify-content-between text-center px-3 mt-2">
                 <h5 class="text-gray-400"><span>TOTAL</span> CUSTOMERS</h5>  <i class="fa-solid fa-users"></i>
                </div>
                <h2 class="px-3">1800</h2>
            </div>
            <div class="col-md-3  p-1 shadow">
                <div class="box-content d-flex align-items-center justify-content-between text-center px-3 mt-2">
                    <h5 class="text-gray-400"><span>TOTAL</span> DELIVERY</h5>   <i class="fa-solid fa-truck blue"></i>
                   </div>
                   <h2 class="px-3">6634</h2>
            </div>
            <div class="col-md-3  p-1 shadow">
                <div class="box-content d-flex align-items-center justify-content-between text-center px-3 mt-2">
                <h5 class="text-gray-400"><span>TOTAL</span> SHOP</h5> 
                <i class="fa-solid fa-shop"></i>
                </div>
                <h2 class="px-3">230</h2>
            </div>
        </div>

        <div class="col-md-4 mx-4 shadow m-2">
           <img src="../assets/Untitled design.png" class="img-fluid" alt="">
        </div>
        <div class="col-md-5 shadow m-2">
            <img src="../assets/Bar.png" height="200" width="480" class="img-fluid" alt="">
         </div>
        
    </div>
</div>