.container-fluid{
    width: 100vw;
    height: 100vh;
    background:  #673ab7 !important;
  
}
h1{
    font-weight: 700;
    letter-spacing: 2px;
}
button{
    background:  #673ab7 !important;
    width: 100%;
    color: #ffff;
    letter-spacing: 2px;
    border-radius: 5px;
}

input{
    outline: none !important;
}